{% load static %}
<div class='col'>
    <div class='card py-2'>
        <a href='{% url "core:detail" i.name %}' class='text-decoration-none text-black'>
            <div class='card-img'>
                <img src={{ i.coverphoto.url }} class='img-fluid'>
            </div>
            <div class='card-header text-center'>
                {{i.type}}
            </div>
            <div class='card-body'>
                <div class='d-inline'>
                    <ul>
                        <li class='d-inline bg-danger p-2 rounded-3 text-light'>Rent</li>
                        <li class='d-inline bg-warning p-2 rounded-3'>
                            {{i.sale_type}}
                        </li>
                    </ul>
                </div>
                <table border=0 class='w-100'>
                    <tr>
                        <td class='align-text-top'><i class="bi bi-tag-fill"></i>price</td>
                        <td class='text-right'>
                            {{i.price}}
                        </td>
                    </tr>
                    <tr>
                        <td class='align-text-top'><i class="bi bi-geo-alt-fill"></i>address
                        </td>
                        <td class='text-right'>
                            {{i.address}}
                        </td>

                    </tr>
                </table>
                <div class='p-1 m-1'>
                    <img src="{% static 'core/img/bed_black_24dp.svg'%}" width=25 height="25">
                    {{i.number_of_rooms}}
                    <img src="{% static 'core/img/wc_black_24dp.svg'%}"  width=25 height="25">
                    {{i.number_of_bathrooms}}
                </div>
        </a>
        {% if user.is_authenticated %}
        {% if i in interested_list %}
        <!-- <a href='{% url "interest:delete" %}?p_id={{i.id}}'> -->
            <button class='btn btn-primary w-100' value={{i.id}}><i class="bi bi-star-fill mx-2"
                    name='btn-icon'></i>Interest</button>
        <!-- </a> -->
        {% else %}
        <!-- <a href='{% url "interest:create" %}?p_id={{i.id}}'> -->
            <button class='btn btn-primary w-100' value={{i.id}}><i class="bi bi-star mx-2"
                    name='btn-icon'></i>Interest</button>
        <!-- </a> -->
         {% endif %}
         {% else %}
        <!-- <a href='{% url "interest:create" %}?p_id={{i.id}}'> -->
            <button class='btn btn-primary w-100' value={{i.id}}><i class="bi bi-star mx-2"
                    name='btn-icon'></i>Interest</button>
        <!-- </a> -->
        {% endif %}
    </div>
</div>
</div>